<%- include ('../partials/head') %>
<%- include ('../partials/navbar') %>
<main>
    <div style="position: absolute; left: 50%; transform: translateX(-72%); margin-top:5rem;">
        <div class="container" style="width: 150%;">

        <%- include ('../partials/message') %>
        
        <h2 style="margin-top: 15px;">Tutors</h2>
        <table class="table">
            <thead>
                <th> Tutor Email </th>
                <th> Course Names </th>
                <th> Time available </th>
            </thead>
        
            <tbody>
            <%tutors.forEach(function(t){ %> 
                <% //if (t.tutor == true){ %> 
                <tr>
                    <td> <%= t.email %> </td>
                    <td>
                        <%= t.course_name %>
                    </td>
                    <td> <%= t.time_info %> </td>
                    <td>
                        <form method="GIT" action="/profile">
                            <input type="hidden" name="user_id" value="<%=t.user_id %>">
                            <button type="submit">VIEW TUTOR</button>
                        </form>
                    </td><td>
                        <form method="POST" action="/connect/tutor">
                            <input type="hidden" name="user_id" value="<%=t.user_id %>">
                            <button type="submit">BOOK TUTOR</button>
                        </form>
                    </td>
                </tr>
                <%// } %> 
            <% }) %>
            </tbody>
        </table>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>