<!-- EJS file - pages/profile.ejs -->

<%- include ('../partials/head') %>
<%- include ('../partials/navbar') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<style>
/* .container {
    flex: 1; /* Make the container take up remaining vertical space 
    display: flex;
    align-items: center;
    justify-content: center;
}*/
</style>

<main>
    <div class="container">

<%- include ('../partials/message') %>
        <% if (editMode) { %>
            <!-- Edit Mode -->
            <form id="profileForm" action="/update-profile" method="post" class="<%= editMode ? 'edit-mode' : '' %>">
                <!-- ... Your edit form fields ... -->
                <h1>Populate Your Profile</h1>
                <div class="form-group">
                    <label for="bio">Bio:</label>
                    <div class="textarea-container">
                        <% if (editMode) { %>
                            <textarea id="bio" name="bio" rows="4" cols="50"><%= bio %></textarea>
                        <% } else { %>
                            <span><%= bio %></span>
                        <% } %>
                    </div>
                </div>
                
                
                <!-- Classes -->
                <div class="form-group">
                    <label for="classes" style="display: block;">Courses:</label>
                    <select id="classes" name="classes[]" multiple class="select2">
                        
                        
                        <% courses.forEach(course => { %>
                            <option value="<%= course.course_id %>" <%-classes.has(course.course_id+'')?"selected='selected'":''%>><%= course.course_name %></option>
                            
                        <% }); %>
                    </select>

                    
                </div>

                <div class="form-group">
                    
                    <label for="time_info" style="display: block;">Times Available:</label>
                    <table>
                        <tr>
                          <th>Day</th>
                          <th>Times</th>
                        </tr>
                        <tr>
                          <td>Monday
                            <select id="monday_time_info" name="monday_time_info[]" multiple class="select2" style="width: 160px">
                                <option value="" disabled selected>Add Times</option>
        
                                <% allTimes.forEach(time => { %>
                                    <option value="<%= time %>" <% if (monday_time_info.includes(time)) { %>selected<% } %>><%= time %></option>
                                <% }); %>
                            </select>
                          </td>
                          <td>Tuesday
                            <select id="tuesday_time_info" name="tuesday_time_info[]" multiple class="select2" style="width: 160px">
                                <option value="" disabled selected>Add Times</option>
        
                                <% allTimes.forEach(time => { %>
                                    <option value="<%= time %>" <% if (tuesday_time_info.includes(time)) { %>selected<% } %>><%= time %></option>
                                <% }); %>
                            </select>
                          </td>
                          <td>Wednesday
                            <select id="wednesday_time_info" name="wednesday_time_info[]" multiple class="select2" style="width: 160px">
                                <option value="" disabled selected>Add Times</option>
        
                                <% allTimes.forEach(time => { %>
                                    <option value="<%= time %>" <% if (wednesday_time_info.includes(time)) { %>selected<% } %>><%= time %></option>
                                <% }); %>
                            </select>
                          </td>
                          <td>Thursday
                            <select id="thursday_time_info" name="thursday_time_info[]" multiple class="select2" style="width: 160px">
                                <option value="" disabled selected>Add Times</option>
        
                                <% allTimes.forEach(time => { %>
                                    <option value="<%= time %>" <% if (thursday_time_info.includes(time)) { %>selected<% } %>><%= time %></option>
                                <% }); %>
                            </select>
                          </td>
                          <td>Friday
                          
                            <select id="friday_time_info" name="friday_time_info[]" multiple class="select2" style="width: 160px">
                                <option value="" disabled selected>Add Times</option>
        
                                <% allTimes.forEach(time => { %>
                                    <option value="<%= time %>" <% if (friday_time_info.includes(time)) { %>selected<% } %>><%= time %></option>
                                <% }); %>
                            </select>
                          </td>
                        </tr>

                      </table>

                </div>
                

                <!-- Contact Info -->
                <div class="form-group">
                    <label for="contact_info">Contact Information:</label>
                    <div class="textarea-container">
                        <% if (editMode) { %>
                            <textarea id="contact_info" name="contact_info" rows="2" cols="30"><%= contact_info %></textarea>
                        <% } else { %>
                            <span><%= contact_info %></span>
                        <% } %>
                    </div>
                </div>

                <!-- Tutor -->
                <div class="form-group">
                    <label for="tutor">Tutor:</label>
                    <input type="checkbox" id="tutor" name="tutor" <% if (tutor) { %>checked<% } %>>
                    <label for="student">Student:</label>
                    <input type="checkbox" id="student" name="student"<% if (student) { %>checked<% } %>>
                    
                </div>


            
                <button type="submit" onclick="toggleEditMode()"class="btn btn-primary">Update Profile</button>
            </form>
        <% } else if(!editMode) { %>
            <!-- View Mode -->
                <!-- ... Your view table rows ... -->
                <form action="/profile">
                    <div class="form-group">
                        <div style="text-align: center;">
                            <h2><%= userEmail %>'s Profile</h2>

                        </div>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Bio</th>
                                    <td><%= bio %></td>
                                </tr>
                                <tr>
                                    <th>Classes</th>
                                    <td><%= classes %></td>
                                </tr>
   
                                <tr>
                                    <th>Times Available</th>
                                    <td colspan="5">
                                        <table class="inner-table">
                                            <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].forEach(day => { %>
                                                <% const times = eval(day.toLowerCase() + '_time_info'); %>
                                                <% if (times && times.length > 0) { %>
                                                    <tr>
                                                        <th><%= day %>: </th>
                                                        <td>
                                                            <!-- Your times dropdown or other content -->
                                                            <%= times %>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            <% }); %>
                                        </table>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th>Contact Information</th>
                                    <td><%= contact_info %></td>
                                </tr>
                                <tr>
                                    <th>Tutor</th>
                                    <td><%= tutor ? 'I am a tutor' : 'I am not a tutor' %></td>
                                </tr>
                                <tr>
                                    <th>Student</th>
                                    <td><%= student ? 'I am a student' : 'I am not a student' %></td>
                                </tr>
                            </tbody>
        
                        </table>
                    </div>
                    <button type="submit" onclick="toggleEditMode()"class="btn btn-primary">Edit Profile</button>

                </form>


        <% } %>
    </div>

        <script>
 var editMode = localStorage.getItem('editMode') === 'true';

// Update the form and page content based on the edit mode
if (editMode) {
    console.log("Switched to Edit Mode");
} else {
    console.log("Switched to View Mode");
}


    $(document).ready(function() {

        var timeInfoSelect = $('#monday_time_info');
        
        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });
        
    });
    $(document).ready(function() {

        var timeInfoSelect = $('#tuesday_time_info');

        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });

    });

    $(document).ready(function() {

        var timeInfoSelect = $('#tuesday_time_info');

        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });

    });

    $(document).ready(function() {

        var timeInfoSelect = $('#wednesday_time_info');

        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });

    });

    $(document).ready(function() {

        var timeInfoSelect = $('#thursday_time_info');

        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });

    });

    $(document).ready(function() {

        var timeInfoSelect = $('#friday_time_info');

        timeInfoSelect.select2({
            tags: true,  // Allow custom tags
            tokenSeparators: [','],  // Define separators between tokens
            placeholder: "Add Times"
        });
        timeInfoSelect.on('select2:open', function() {
            // Remove the default option when the dropdown is open
            timeInfoSelect.find('option[value=""]').remove();
        });

        timeInfoSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (timeInfoSelect.val() == null || timeInfoSelect.val().length === 0) {
                timeInfoSelect.prepend('<option value="" disabled selected>Add Times</option>');
            }
        });

    });


    $(document).ready(function() {
            var courseSelect = $('#classes')
            courseSelect.select2({
                tags: true,  // Allow custom tags
                tokenSeparators: [','],  // Define separators between tokens
                placeholder: "Add Courses",
            });
            courseSelect.on('select2:open', function(){
                courseSelect.find('option[value="').remove();
            });
            courseSelect.on('select2:close', function() {
            // If no option is selected, add the default option back
            if (courseSelect.val() == null || courseSelect.val().length === 0) {
                courseSelect.prepend('<option value="" disabled selected>Add Course</option>');
            }
        });
    });

  


function toggleEditMode() {
        editMode = !editMode;

    /*
    var profileForm = document.querySelector('#profileForm');
            if (profileForm) {
                profileForm.classList.toggle('edit-mode', editMode);
            }*/
    // Store the editMode state in local storage
    localStorage.setItem('editMode', editMode);

    // Reload the page only if transitioning from edit to view mode
    
        location.reload();
    
}           /*
            document.getElementById('courses').addEventListener('change', function() {
                if (this.value === 'addClasses') {
                    // Logic to handle "Add Classes" selection
                    // You may show a modal or perform other actions
                    alert('Add Classes selected');
                }
            });*/
       
        
        </script>
</main>

<%- include ('../partials/footer') %>






